---
layout: "default"
permalink: "/"
---
  <div class="posts">
    {% for post in site.posts %}
    {% if post.external_url %}
      <article>
        <h1>
          <a href="{{ post.external_url }}" class="posts-title">{{ post.title }}</a>
        </h1>
        {{ post.excerpt }}
        <a href="{{ post.external_url }}">...go to site</a>
      </article>
      <hr>
    {% else %}
      <article>
        <h1>
          <a href="{{ post.url }}" class="posts-title">{{ post.title }}</a>
        </h1>
        {{ post.excerpt }}
        <a href="{{ post.url }}">...read more</a>
      </article>
      <hr>
    {% endif %}
    {% endfor %}
  </div>
