<footer class="site-footer">
    {% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}" title="GitHub">
        <img class="icon-link" src="{{ site.baseurl }}/assets/images/icons/social-github.png" alt="GitHub Profile">
      </a>
    {% endif %}
    {% if site.linkedin_username %}
      <a href="https://linkedin.com/in/{{ site.linkedin_username }}"  title="LinkedIn">
        <img class="icon-link" src="{{ site.baseurl }}/assets/images/icons/social-linkedin.png" alt="LinkedIn Profile">
      </a>
    {% endif %}
    <a href="{{ site.baseurl }}/assets/documents/DanielLoweryResume.pdf" title="Resume">
      <img class="icon-link" src="{{ site.baseurl }}/assets/images/icons/document-text.png" alt="Resume">
    </a>
    <br>
  <span>Copyright &copy; 2020 Daniel Lowery</span>
  <br>
  <span class="site-footer-credits">This site was built using <a href="https://pages.github.com">GitHub Pages</a>.</span>
</footer>
