---
---

@import "{{ site.theme }}";

section {
  margin: 0 0 0 0;
}

section #title {
  margin: 0 0 2rem 0;
}

.page-header {
  padding: .5rem 3rem .5rem 3rem;
  display: block;
  margin-left: center;
  margin-right: center;
  text-align: center;
}

.site-footer {
  text-align: center;
}

.main-content {
    margin: 0;
    padding: 0;
}

.page-error {
  text-align: center;
}

.page-divider {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.icon-link {
  height: 30px;
  width: 30px;
}

.icon-link:hover {
  opacity: 0.7;
}

.posts-list {
  list-style-type: None;
}

.date {
  font-size: .85em;
  font-style: italic;
}

.caption {
  font-size: .75em;
  font-style: italic;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1rem;
  margin: 1rem;
  color: rgba(255,255,255,0.7);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
}

.back-btn {
  display: inline-block;
  padding: 0.75rem 0.75rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: rgba(255,255,255,0.7);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  cursor: pointer;
}

.chart-image {
    background: #f0e7d5;
}

#logo {
  width: 50%;
}
@media screen and (max-width: 42em) { #logo { width: 50%;} }

#portrait {
  width: 50%;
}

body {
  background: #262626;
}
